# Java class files
*.class

# Maven build output
target/
**/target/

# .NET build output
bin/
obj/
*.dll
*.exe
*.pdb
.vs

# React build output and dependencies
node_modules/
build/
dist/

# Misc
*.log
.DS_Store
.env

# Intellij IDEA
.idea/
*.iml
*.ipr
*.iws
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
**/compiler.xml
**/encodings.xml
**/jarRepositories.xml
**/misc.xml
**/vcs.xml
**/workspace.xml
**/settings.xml
**/modules.xml
**/codeStyles.xml
**/inspectionProfiles.xml
**/runConfigurations.xml